.one {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: white;
    flex: 1;
   
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    
}
.links{
    display: flex;
    gap: 40px;
    margin-right: 300px;
    
}
.sticker{
   display: flex;
   margin-left: 100px;
   font-size: 24px;
   color: #F9FAF8; 
}
.links > a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}
.forest{
    display: flex;
}
.trees{
    margin: 50px 200px;
    
}
.para {
   display: flex;
   flex-direction: column;
   margin-left: 10%;
   flex: 1;
}
.para > h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.para > p{
    font-size: 18px;
    color: #e5e7eb;
}
.up{
    width: 100px;
    align-self: flex-start;
    background-color: #3882f6;
    color: aliceblue;
    font-size: large;
}
.two{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    flex: 1;
    padding: 2%;
}
.ran{
    align-self: center;
    font-size: 36px ;
    font-weight: bolder;
    color: #1f2937;
   
}
.imgs{
    display: flex;
    justify-content: space-around;
}
.three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    font-size: 36px;
    font-family: light italic;
    color: #1f2937;
    flex: 1;
    padding: 5%;
   
}
body{
    display: flex;
    flex-direction: column;
    margin: 0%;
}
.four{
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 5%;
   
}
footer{ 
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 2%;
}
.down{
    background-color: #3882f6;
    color: aliceblue;
    height: 30%;
    width: 15%;
    align-self: center;
    border-color: whitesmoke;
    border-radius: 10%;
    border-style: solid;
    font-size: larger;

}
.backg{
    flex: 1;
    background-color: #3882f6;
    color: aliceblue;
    display: flex;
    justify-content: center;
    gap: 20%;
    margin: 0% 20% 0% 20%;
    padding: 2% 2% ;
}
.mazi{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.mazi > p {
    margin-top: auto;
}
.mazi > h4 {
    margin-bottom: auto;
}