#signup{
    background-color: rgb(0, 174, 255);
    font-size: larger;
    color: whitesmoke;
}

.nav-list{
    display: flex;
    margin: -20px 0px 0px -10px;
    padding-left: 1000px;
    list-style: none;
    padding-right: 500px;
}
.nav-list li {
    flex: auto;
}
h4{
    margin: 0px;
    text-align: start;
    padding-left: 300px;
}